<div class = "main-header">
    <header class = "container">

        <nav class = "navbar navbar-expand-md row <%= bgColor %> <%= navbarColor %>">
    
            <a class = "navbar-brand" href="/">
                <img src="/images/headerAndfooter/planeta.png" alt="logo" class = "logo-pl">
                <span class = "navbar-text">Planeta Lector</span>
            </a>
    
            <button class = "navbar-toggler button" data-toggle = "collapse" data-target = "#collapse-target">
                <span class = "navbar-toggler-icon lines"></span>            
            </button>
        
            <div class = "collapse navbar-collapse" id = collapse-target>                    
        
                <ul class = "navbar-nav ml-auto">
    
                    <li class = "nav-item sm-menu">
                        <a class = "nav-link" href="/products">CATEGORIAS</a>
                    </li>
    
                    <li class = "nav-item dropdown md-menu">
                        <a class = "nav-link dropdown-toggle" data-toggle = "dropdown" data-target = "dropdown-books"  href="/products">
                            LIBROS
                        </a>
                        <div class = "dropdown-menu" aria-labelledby="dropdown-books">
                            <a class = "dropdown-item" href="">Todos los productos</a>
                            <div class = "dropdown-divider"></div>
                            <% categories.forEach(category => { %>
                                <a class = "dropdown-item" href="/products/category/<%=category.id%> "><%= category.title %></a>
                            <% }) %>               
                        </div>
                    </li>

                    <li class = "nav-item md-menu">
                        <a class = "nav-link" href="/news">NOVEDADES</a>
                    </li>

                    <!-- Si estoy loggeada-->

                    <% if(locals.user){ %> 

                        <li class = "nav-item sm-menu">
                            <a class = "nav-link" href="/users/cart">MI CARRITO</a>
                        </li>

                        <li class = "nav-item sm-menu">
                            <form action="/users/logout" method="POST">
                                <button type="submit">CERRAR SESIÓN</button>
                            </form>
                        </li>
        
                        <li class = "nav-item md-menu">
                            <a class = "nav-link" href="/users/cart"><i class="fas fa-shopping-bag"></i></a>
                        </li>

                        <li class = "nav-item dropdown md-menu">        
                            <a class = "nav-link dropdown-toggle" data-toggle="dropdown" data-target = "dropdown-users" href="#">
                                <span><%= locals.user.username %> </span>
                                <i class="fas fa-user"></i>
                            </a>
                            <div class = "dropdown-menu" aria-labelledby="dropdown-users">
                                <form action="/users/profile/<%= locals.user.id %>" method="GET">
                                    <button class = "dropdown-item" type="submit">Mi perfil</button>
                                </form>
                                <% if(locals.user.admin == 1) { %> 
                                    <form action="/products/create" method="GET">
                                        <button class = "dropdown-item" type="submit">Crear productos</button>
                                    </form>
                                    <form action="/users/create" method="GET">
                                        <button class = "dropdown-item" type="submit">Crear usuarios</button>
                                    </form>
                                    <form action="/products/list" method="GET">
                                        <button class = "dropdown-item" type="submit">Ver productos</button>
                                    </form>
                                    <form action="/users/list" method="GET">
                                        <button class = "dropdown-item" type="submit">Ver usuarios</button>
                                    </form>
                                <% } %> 
                                <form action="/users/logout" method="POST">
                                    <button class = "dropdown-item" type="submit">Cerrar sesión</button>
                                </form>                                                              
                            </div>

                        </li>
    
                        
                    <% } else{ %> 

                    <!---->

                    <!-- Si no estoy loggeada-->
    
                        <li class = "nav-item sm-menu">
                            <a class = "nav-link" href="/users/login">INICIAR SESIÓN</a>
                        </li>
        
                        <li class = "nav-item sm-menu">
                            <a class = "nav-link" href="/users/register">REGISTRARME</a>
                        </li>
        
                        <li class = "nav-item dropdown md-menu">        
                            <a class = "nav-link dropdown-toggle" data-toggle="dropdown" data-target = "dropdown-users" href="#">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class = "dropdown-menu" aria-labelledby="dropdown-users">
                                <a class = "dropdown-item" href="/users/login">Iniciar sesión</a>
                                <a class = "dropdown-item" href="/users/register">Registrarse</a>
                            </div>

                        </li>

                    <% } %>

                        <!---->
        
                        
                     
                    
                </ul>
    
            </div>
            
        </nav>        
    
    </header>

</div>





