<div id = "<%= id %>" class="uk-position-relative uk-visible-toggle uk-light slide-container" tabindex="-1" uk-slider="sets: true">

    <div class = "uk-slider-container">
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l uk-grid">">
            <% products.forEach(product => { %>
                <li>
                    <a href="/products/detail/<%= product.id %>">

                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <% if (product.image.includes("http")) { %>
                                    <img src="<%= product.image %>" alt="">                             
                                <% } else{ %>
                                    <img src="/images/products/<%= product.image %>" alt="">
                                <% } %> 
                            </div>
                            <div class="uk-card-body">
                                <strong><%= product.title %></strong>
                                <p>por <%= product.author.name %></p>
                            </div>
                        </div>
                    </a>

                </li>
            
            <% }) %>
        </ul>
    </div>

    <div class="uk-visible@s">
        <a class="uk-position-center-left-out uk-position-small" href="#<%= id %>" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small" href="#<%= id %>" uk-slidenav-next uk-slider-item="next"></a>
    </div>

    

</div>



























<!-- <div id="<%#= id %>" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">

        <%# let activeItem = "active" %>

        <%# slidesProducts.forEach(slideView => { %>

            
            <div class="carousel-item <%#= activeItem %>"data-interval = "false">
                <div class = 'row slide-item'>
                    <%# slideView.forEach(product => { %>
                        <%#- product %>                     
                    <%# }) %>
                </div>
            </div>
            <%#= activeItem = "" %> 
         
        <%# }) %>   

        

    </div>

    <a class="carousel-control-prev" href="#<%#= id %>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#<%#= id %>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div> -->