<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', {title: 'Cre치 un usuario'}) %>
<body>
    <%- include('../../partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %>
    <div class="container">

      <div class="row">

        <div class="col-12">
          <h2 style="text-align: center;">Cre치 un usuario</h2>
        </div>

        <div class="col-12">
          <form action="/users/create" method="POST">
            <div class="row">

              <div class="col-12 col-md-6">
                  <label for="username" class="form-label">Nombre del usuario</label>
                  <input type="name" id="username" name="username" class="form-control"
                  value="<%= typeof old == "undefined" ? null : old.username %>">

                  <small class="error">
                    <% if (typeof errors != 'undefined') { %>
                      <% if (errors.username) { %>
                        <%= errors.username.msg %> 
                      <% } %>
                  <% }%>
                </small>
              </div>

              

              <div class="col-12 col-md-6">
                  <label for="email" class="form-label">Email del usuario</label>
                  <input type="email" id="email" name="email" class="form-control"
                  value="<%= typeof old == "undefined" ? null : old.email %>">

                  <small class="error">
                    <% if (typeof errors != 'undefined') { %>
                      <% if (errors.email) { %>
                        <%= errors.email.msg %> 
                      <% } %>
                  <% }%>
                </small>
              </div>

              

              <div class="col-12 col-md-6">
                  <label for="password" class="form-label">Ingrese una contrase침a</label>
                  <input type="password" id="password" name="password" class="form-control"
                  value="">

                  <small class="error">
                    <% if (typeof errors != 'undefined') { %>
                      <% if (errors.password) { %>
                        <%= errors.password.msg %> 
                      <% } %>
                  <% }%>
                </small>
              </div>

              

              <div class="col-12 col-md-6">
                  <label for="retype" class="form-label">Repita la contrase침a</label>
                  <input type="password" id="retype" name="retype" class="form-control"
                  value="">

                  <small class="error">
                    <% if (typeof errors != 'undefined') { %>
                      <% if (errors.retype) { %>
                        <%= errors.retype.msg %> 
                      <% } %>
                  <% }%>
                </small>
              </div>

              <div class="col-12 col-md-6">
                <label class="form-label">Imagen</label>
                <input class="admin-file" type="file" name="image" value="">

                <small class="error admin-errors">
                    <% if (typeof errors != 'undefined') { %>
                    <% if (errors.image) { %>
                        <%= errors.image.msg %> 
                    <% } %>
                <% }%>
                </small>
            
              </div>

              <div class="col-12 col-md-6">
                <label for="admin" class="form-label">Admin</label>
                <input type="checkbox" id="admin" name="admin">
              </div>

              <div class="col-12">
                <button style="display: block;" type="submit" class="btn btn-info action-button">Crear usuario</button>
              </div>

            </div>  
          </form>

        </div>

        
      </div>
    </div>
    <%- include('../../partials/footer')  %> 
    <%- include('../../partials/scripts-js')  %> 
</body>
</html>