<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head', {title: 'Ver usuarios'}) %>
<body>
    <%- include('../../partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h2>Lista de usuarios</h2>
            </div>
            
            
            <div class="col-12">
                <table class="table table-striped" id="dataTable" width="100%" cellSpacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% details.forEach(detail => { %>

                                <tr>
                                    <td><%= detail.id %></td>
                                    <td><%= detail.email %></td>
                                    <td class="form-admin-button">
                                        <form action="/users/edit/<%= detail.id %> " method="GET">
                                            <button class="btn btn-info admin-button"><i class="fas fa-edit"></i></button>                
                                        </form>
                                        <form id='trash' class="admin-trash trash-alert" action="/users/delete/<%= detail.id %> " method="POST">
                                            <button class="btn btn-danger admin-button"><i class="fas fa-trash"></i></button>            
                                        </form>

                                    </td>
                                </tr>
                        <% }) %>                            
                    </tbody>
                </table>

                        
                        
        

            </div>
        </div>
    </div>
    
    <%- include('../../partials/footer')  %> 
    <%- include('../../partials/scripts-js')  %> 
</body>
</html>