<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head', {title: 'Creá un producto'}) %>
<body>
    <%- include('../../partials/header', {bgColor: "bg-dark ", navbarColor: " navbar-dark"}) %>
    <div class="container">

        <div class="row">
            
            <div class="col-12">
                <h2 style="text-align: center;">Creá un producto</h2>
            </div>

            <div class="col-12">
                <!--pasar el id del producto a la ruta que viaja por post-->
                <form action="/products/create" method="POST" enctype="multipart/form-data">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="name">Nombre del producto</label>
                            <input type="text" id="title" name="title" class="form-control"
                            value="<%= typeof old == "undefined" ? null : old.title %>">
                        
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.title) { %>
                                    <%= errors.title.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="author">Autor</label>

                            <select name="author" id="author" class="form-control">

                                <% if (typeof old != 'undefined' && old.author) { %>
                                    <% authors.forEach(author => {%>
                                        <% if (author.id == old.author) {%> 
                                            <option value="<%= old.author %>" selected><%= author.name + " " + author.lastName %></option>
                                        <% } else{ %>
                                            <option value="<%=author.id%>"><%=author.name + " " + author.lastName%></option> 
                                        <% } %>
                                    <%});%> 

                                <% } else { %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% authors.forEach(author => {%>
                                        <option value="<%=author.id%>"><%=author.name + " " + author.lastName%></option> 
                                    <%});%>                           
                                    

                                <% } %>
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.author) { %>
                                    <%= errors.author.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                            
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="price">Precio del producto</label>
                            <input type="text" id="price" name="price" class="form-control" value="<%= typeof old == "undefined" ? null : old.price %>">
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.price) { %>
                                    <%= errors.price.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        
                        
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="category">Categoría</label>
                            <select name="category" id="category" class="form-control">

                                <% if (typeof old != 'undefined' && old.category) { %>
                                    <% categories.forEach(category => {%>
                                        <% if (category.id == old.category) {%> 
                                            <option value="<%= old.category %>" selected><%= category.title %></option>
                                        <% } else{ %>
                                            <option value="<%=category.id%>"><%= category.title%></option> 
                                        <% } %>
                                    <%});%> 

                                <% } else { %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% categories.forEach(category => {%>
                                        <option value="<%=category.id%>"><%= category.title%></option> 
                                    <%});%>                           
                                    

                                <% } %>
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.category) { %>
                                    <%= errors.category.msg %> 
                                <% } %>
                            <% }%>
                            </small>

                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="Subcategory">Subcategoría</label>
                            <select name="subCategory" id="subCategory" class="form-control">

                                <% if (typeof old != 'undefined' && old.subCategory) { %>
                                    <% subCategories.forEach(subCategory => {%>
                                        <% if (subCategory.id == old.subCategory) {%> 
                                            <option value="<%= old.subCategory %>" selected><%= subCategory.title %></option>
                                        <% } else{ %>
                                            <option value="<%=subCategory.id%>"><%= subCategory.title%></option> 
                                        <% } %>
                                    <%});%> 

                                <% } else { %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% subCategories.forEach(subCategory => {%>
                                        <option value="<%=subCategory.id%>"><%= subCategory.title%></option> 
                                    <%});%>                           
                                    

                                <% } %>
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.subCategory) { %>
                                    <%= errors.subCategory.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        
            
                        <div class="col-12 col-md-6">
                            <label class="form-label" for="price">Stock</label>
                            <input type="text" id="stock" name="stock" class="form-control" value="<%= typeof old == "undefined" ? null : old.stock %>">
                        
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.stock) { %>
                                    <%= errors.stock.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="price">ISBN</label>
                            <input type="text" id="isbn" name="isbn" class="form-control" value="<%= typeof old == "undefined" ? null : old.isbn %>">
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.isbn) { %>
                                    <%= errors.isbn.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label class="form-label" for="price">Numero de paginas</label>
                            <input type="text" id="numberPages" name="numberPages" placeholder="Ej: 100" class="form-control" value="<%= typeof old == "undefined" ? null : old.numberPages %>">
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                    <% if (errors.numberPages) { %>
                                        <%= errors.numberPages.msg %> 
                                    <% } %>
                            <% }%>
                            </small>
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label for="editorial" class="form-label">Editorial</label>
                            <select name="editorial" id="editorial" class="form-control">

                                <% if (typeof old != 'undefined' && old.editorial) { %>
                                    <% editorials.forEach(editorial => {%>
                                        <% if (editorial.id == old.editorial) {%> 
                                            <option value="<%= old.editorial %>" selected><%= editorial.name %></option>
                                        <% } else{ %>
                                            <option value="<%=editorial.id%>"><%= editorial.name%></option> 
                                        <% } %>
                                    <%});%> 

                                <% } else { %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% editorials.forEach(editorial => {%>
                                        <option value="<%=editorial.id%>"><%= editorial.name%></option> 
                                    <%});%>                           
                                    

                                <% } %>
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.editorial) { %>
                                    <%= errors.editorial.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label for="coverType" class="form-label">Tipo de tapa</label>

                            <select name="coverType" id="coverType" class="form-control">

                                <% if (typeof old != 'undefined' && old.coverType) { %>
                                    <% coverTypes.forEach(coverType => {%>
                                        <% if (coverType.id == old.coverType) {%> 
                                            <option value="<%= old.coverType %>" selected><%= coverType.type %> </option>
                                        <% } else{ %>
                                            <option value="<%=coverType.id%>"><%=coverType.type%></option> 
                                        <% } %>
                                    <%});%> 

                                <% } else { %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% coverTypes.forEach(coverType => {%>
                                        <option value="<%=coverType.id%>"><%=coverType.type%></option> 
                                    <%});%>                           
                                    

                                <% } %>
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.coverType) { %>
                                    <%= errors.coverType.msg %> 
                                <% } %>
                            <% }%>
                            </small>

                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label for="formatType" class="form-label">Formato</label>

                            <select name="formatType" id="formatType" class="form-control">

                                <% if (typeof old != 'undefined' && old.formatType) { %>
                                    <% formatTypes.forEach(formatType => {%>
                                        <% if (formatType.id == old.formatType) {%> 
                                            <option value="<%= formatType.id %>" selected><%= formatType.type %> </option>
                                        <% } else{ %>
                                            <option value="<%=formatType.id%>"><%=formatType.type%></option> 
                                        <% } %>
                                    <%});%>

                                <% } else{ %>
                                    <option value="" disabled hidden selected>Elige una opción</option>
                                    <% formatTypes.forEach(formatType => {%>
                                        <option value="<%=formatType.id%>"><%=formatType.type%></option> 
                                    <%});%> 
                                    

                                <% } %>
                                
                                
                            </select>

                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.formatType) { %>
                                    <%= errors.formatType.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        </div>

                        

                        <div class="col-12 col-md-6">
                            <label for="image" class="form-label">Imagen</label>
                            <input class="admin-file" type="file" name="image" value="">
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.image) { %>
                                    <%= errors.image.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        
                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea name="description" id="description" rows="5" class="form-control"><%= typeof old == "undefined" ? null : old.description %></textarea>
                            <small class="error admin-errors">
                                <% if (typeof errors != 'undefined') { %>
                                <% if (errors.description) { %>
                                    <%= errors.description.msg %> 
                                <% } %>
                            <% }%>
                            </small>
                        
                        </div>

                        
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-info action-button">Crear producto</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
<%- include ('../../partials/footer') %>
<%- include('../../partials/scripts-js') %>  
</body>