<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Mi Carrito'}) %>
<body>
    <%- include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %> 

    <div class = "container">
                
        <%- include('partials/banner-title', {title: "Mi Carrito", id: -1, decoImg: "/images/banner-title/img-cart.png", bannerImg: '/images/banner-title/banner-title-2.png'}) %>
        
        <% if (orderItems.length > 0) { %>
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
                <% orderItems.forEach(item => { %>                    
                    <div class="col-12 col-sm-12 col-md-3 cart-image">
                        <a href="/products/detail/<%= item.productId %> ">
                            <% if (item.productImage.includes("http")) { %>
                                <img src="<%= item.productImage %>" alt="">                             
                            <% } else{ %>
                                <img src="/images/products/<%= item.productImage %>" alt="">
                            <% } %>
                        </a>
                        
                    </div>
                    <div class="col-12 col-sm-12 col-md-3">
                        <div>
                            <h6>Título:</h6>
                            <p> <%= item.productName %> </p>
                        </div>
                        <div>
                            <h6>Autor: </h6>
                            <p><%= item.productAuthor %></p>
                        </div>
                        <div>
                            <h6>Editorial: </h6>
                            <p><%= item.productEditorial %></p>
                        </div>
                        <div>
                            <h6>ISBN: </h6>
                            <p><%= item.productIsbn %></p>
                        </div>
                    </div>

                    <div class="col-4 col-md-2 cart-info">
                        <h6>Cantidad</h6>
                        <span><%= item.productQuantity%></span>                        
                    </div>

                    <div class="col-4 col-md-2 cart-info">
                        <h6>Subtotal</h6>
                        <p>$<%= item.productQuantity * item.productPrice %> </p>
                    </div>
                    <form action="/users/cart/delete/<%= item.id %>" method="POST" class="col-4 col-md-2 trash-container trash">
                        <button class = "btn btn-info trash-bin" type="submit">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                    <div class="col-12">
                        <hr>
                    </div>
                <% }) %>

                
                
            </div>

            <div class="row">
                <div class="col-12 buy-items">
                    <h6>Total</h6>
                    <span>$<%= total %></span>
                </div>

                <div class="col-12 buy-items">
                    <form action="/users/checkout/<%= orderItems[0].userId %>" method="POST">
                        <button type="submit" class="btn btn-info cart-btn">FINALIZAR COMPRA</button>
                    </form>
                </div>
                
            </div>
            
        <% } %>

        <h3>Clásicos de J. K. Rowling</h3>
        <%- include('partials/slide', {id: "slide-jk", products: jkRowling})  %> 

        <h3>Libros sobre Tecnología</h3>
        <%- include('partials/slide', {id: "slide-tech", products: technology }) %>
    </div>

    <%- include('partials/footer')  %> 
    <%- include('partials/scripts-js')  %> 
</body>
</html>
