<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Mi Carrito'}) %>
<body>
    <%- include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %> 

    <div class = "container">
        
        <%- include('partials/banner-title', {title: "Mi Carrito", route: "Inicio / Mi Carrito", decoImg: "/images/banner-title/img-cart.png", bannerImg: '/images/banner-title/banner-title-2.png'}) %>

        <div>
            <section class="compras">
                <% orderItems.forEach(item => { %>
                    
                    <article class="producto">
                        <img src="/images/products/variousProducts/4ececdb229fcfb9c21faafee4fc9ebee5bcc15d6_9789877476095_cover.jpg" alt="Foto de libro">
                        <div class='infocompra'>l
                            <div class="titulo">
                                <h6>Titulo:</h6>
                                <p class="info"><%= item.productName %> </p>
                            </div>
                            <div class="titulo">
                                <h6>Autor:</h6>
                                <p class="info"><%= item.productAuthor %></p>
                            </div>
                            <div class="titulo">
                                <h6>Editorial:</h6>
                                <p class="info"><%= item.productEditorial %></p>
                            </div>
                            <div class="titulo">
                                <h6>ISBN:</h6>
                                <p class="info"><%= item.productIsbn %></p>
                            </div>
                        </div>
    
                        <div class="infocantidad">
                            <h5 class="cantidad">Cantidad</h5>
                            <input type="number" value="<%= item.productQuantity%>" class='contador cantidad'> <!-- Habria que tener en cuenta la cantidad de stock y hacer un paro en el contador-->
                        </div>
    
                        <div class="infocantidad">
                            <h5 class="precio">Subtotal</h5>
                            <p class="precio">$<%= item.productQuantity * item.productPrice %> </p>
                        </div>
                        <form action="/users/cart/delete/<%= item.id %>" method="POST">
                            <button class = "btn btn-info trash-bin" type="submit">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                        
                    </article>
                 
                <% }) %>
                


        
            </section>
        </div>

        <div class="endcart">
            <div class='infototal'>
                <h5 class="total">Total</h5>
                <p>$<%= total %></p>
            </div>

            <div class='infototal'>
                <button type="submit" class="btn btn-info enviar">FINALIZAR COMPRA</button>
            </div>
        </div>

        <h3>Libros de Ciencia Ficción</h3>
        <%- include('partials/slide', {id: "slide-cart-1", products: cienciaFiccion})  %> 

        <h3>Isaac Asimov</h3>
        <%- include('partials/slide', {id: "slide-cart-2", products: isaacAsimov }) %>
    </div>

    <%- include('partials/footer')  %> 
    <%- include('partials/scripts-js')  %> 
</body>
</html>
