<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: category.title}) %>
<body>
    <!--header-->
    <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %> 

    <div class = "container">
        <%- include('partials/banner-title', {title: category.title, id: category.id, decoImg: "/images/categories/category-" + category.id + "-img.png", bannerImg: '/images/banner-title/banner-title-1.png'}) %> 
        <!--Categorias-->
        <div>     
            <!-- <nav class = "category-menu">
                <div class= "row">
                    <div class = "navegation col-12">
                        <ul>                            
                            <%# subCategories.forEach(subCategory => { %>
                                <li><%#= subCategory.title %></li>                             
                            <%# }) %>
                             <li><a href="">Novelas Contemporáneas</a></li>
                            <li><a href="">Novelas Románticas</a></li>
                            <li><a href="">Novelas Juveniles</a></li>
                            <li><a href="">Drama</a></li>
                            <li><a href="">Distopía</a></li>
                            <li><a href="">Fantasía</a></li>
                            <li><a href="">Ciencia Ficción</a></li>
                            <li><a href="">Misterio & Suspenso</a></li>
                            <li><a href="">Terror</a></li>
                            <li><a href="">Sátiras</a></li>
                            <li><a href="">No Ficción</a></li>
                            <li><a href="">Poesía</a></li>
                            <li><a href="">Relatos Breves</a></li>
                            <li><a href="">Comics & Novelas Gráficas</a></li> 
                        </ul>
                    </div>
                </div>
            </nav> -->

            <h2>Novedades</h2>
            <div class = "row">

                <% news.forEach(product => { %>
                    <div class = "book col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                        <a href="/products/detail/<%= product.id %>" class="detail-link">
                            <% if (product.image.includes("http")) { %>
                                <img src="<%= product.image %>" alt="">                             
                            <% } else{ %>
                                <img src="/images/products/<%= product.image %>" alt="">
                            <% } %>
                            <strong><%= product.title %> </strong>
                        </a>
                        <p>por <%= product.author.name %> </p>
                        <% if (product.discount > 0) { %> 
                            <span class="precio-descuento">$<%= product.price %> </span>
                            <span>$<%= product.price - product.discount / 100 * product.price %></span>
                        <% }else { %>
                            <span>$<%= product.price %> </span>
                        <% } %>
                        <form action="/users/cart/<%= product.id %>" method="POST">
                            <button class="btn btn-info trash-bin"><i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>        
                <% }) %>
            </div>  
          

            <h2>Descuentos</h2>
            <div class = "row">

                <% discounts.forEach(product => { %>
                    <div class = "book col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                        <a href="/products/detail/<%= product.id %>" class="detail-link">
                            <% if (product.image.includes("http")) { %>
                                <img src="<%= product.image %>" alt="">                             
                            <% } else{ %>
                                <img src="/images/products/<%= product.image %>" alt="">
                            <% } %>
                            <strong><%= product.title %> </strong>
                        </a>
                        <p>por <%= product.author.name %> </p>
                        
                        <span class="precio-descuento">$<%= product.price %> </span>
                        <span>$<%= product.price - product.discount / 100 * product.price %></span>
                        <form action="/users/cart/<%= product.id %>" method="POST">
                            <button class="btn btn-info trash-bin"><i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>        
                <% }) %>
            </div>  


            <!-- Pagination start -->
            <!--<nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- Pagination end -->
            <h2>Nuestros productos</h2>
            <div class = "row">
                <% products.forEach(product => { %>
                      <div class = "book col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                        <a href="/products/detail/<%= product.id %>" class="detail-link">
                            <% if (product.image.includes("http")) { %>
                                <img src="<%= product.image %>" alt="">                             
                            <% } else{ %>
                                <img src="/images/products/<%= product.image %>" alt="">
                            <% } %>
                            <strong><%= product.title %> </strong>
                        </a>
                        <p>por <%= product.author.name %> </p>
                        <% if (product.discount > 0) { %> 
                            <span class="precio-descuento">$<%= product.price %> </span>
                            <span>$<%= product.price - product.discount / 100 * product.price %></span>
                        <% }else { %>
                            <span>$<%= product.price %> </span>
                        <% } %>
                        <form action="/users/cart/<%= product.id %>" method="POST">
                            <button class="btn btn-info trash-bin"><i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>          
                    <% }) %>
                </div>
                     

            
        </div>

        <!-- Pagination start -->
        <!--<nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- Pagination end -->

    </div>
    
    <%- include ('partials/footer') %> 
    <%- include('partials/scripts-js') %> 

</body>
</html>