<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: detail.title}) %>
<body>
    <%-include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %>   
    
    <div class = "container">
      <!--Circuito de navegación-->
      <nav class = "menu-breadcrumb">
        <div class= "navegacion">
            <ul>
                <li><a href="/">Inicio /</a></li>
                <li><a href="/products/category/<%= detail.categoryId %> "><%= detail.category.title %>  /</a></li>
                <li><a href="#"><%= detail.title %> </a></li>
            </ul>
        </div>
      </nav>

      <div class = "detalle-producto">

        <div class="caja-producto ">

          <div class= "subcaja1-producto"
          >
            <img src="/images/products/<%= detail.image %> " alt="">
              <p class="items">Autor: <%= detail.author.name + " " + detail.author.lastName %></p>
              <p class="items">Editorial: <%= detail.editorial.name %></p>
              <p class="items">Número&nbsp;de&nbsp;páginas:&nbsp;<%= detail.numberPages%> </p>
          </div>
          <div class= "subcaja2-producto" >
            <h2><%= detail.title %> </h2>
            <p><%= detail.description %> </p>
            <div class="audiobook-ebook">
              <a href="">
                <p>Encuentra el ebook&nbsp;&nbsp;</p>
              </a>
              <a href="">
                <p>Encuentra el audiobook</p>
              </a>             
              
            </div>
            <div class= "precios">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                  <h5 class="card-title">Tapa dura</h5>
                  <div class="precios">
                    <p>$<%= detail.price %> </p>
                  </div>
                </div>
              </div>
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                  <h5 class="card-title">Tapa blanda</h5>
                  <div class="precios">
                    <p>$<%= detail.price %> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="botones-agregar-editar-borrar">

              <% if(locals.user.admin == 1){ %> 
                <form action="/products/edit/<%=detail.id%>" method="GET">
                  <button class= "boton">EDITAR</button>
                </form>

                <form action="/products/delete/<%=detail.id%>" method="POST">
                  <button class= "boton">BORRAR</button>
                </form>

              <% } else{ %> 

                <form action="/users/cart/<%=detail.id%>" method="POST">
                  <button class= "boton">AGREGAR</button>
                </form> 

              <% } %> 
          
                           

            </div>
          </div>
        </div>
      </div>      
        <!--sección sobre el autor-->
        <div class ="sobre-la-autora">
          <img src="/images/authors/<%= detail.author.image %> " alt="Author's photo">
          <h3>Sobre <%= detail.author.name + " " + detail.author.lastName %> </h3>
          <p><%= detail.author.bioAuthor %></p>
        </div>

        <!--otros productos-->
        <h3>De la saga de Harry Potter</h3>
        <%-include('partials/slide', {id: "slide-detail-1", products: harryPotter })%>
        <h3>Éxitos de J. K. Rowling</h3>
        <%-include('partials/slide', {id: "slide-detail-2", products: jkRowling })%>

    </div>    
    
    <!--footer-->
    <%- include ('partials/footer') %>
    <%- include('partials/scripts-js') %>  
        
</body>
</html>