<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

    <body>
        <div class = "container">

            <%- include('partials/header') %>        

            <div class = "presentacion">
                <p>Libros en todos sus formatos.</p>
                <p>¡De bibliófilos para bibliófilos!</p>
                <form action="/search" method = "GET">
                    <input type="keywords" name = "busqueda" placeholder = "Search" class = "search-bar">
                    <button type="submit" class = "btn btn-info search-button"><i class="fas fa-search"></i></button>
                </form>
                <div>
                    <img src="images/headerAndfooter/neptuno.png" alt="" class = "neptuno">
                </div>
                <div>
                    <img src="images/headerAndfooter/books.png" alt="" class = "books">
                </div>                               
                
            </div>        

            <h2>Isaac Asimov</h2>
            <%- include('partials/slide', {id: "123"}) %>

            <h2>15 libros de Suspenso</h2>           

            <h2>Introduccion a Virginia Woolf</h2>

            <h2>Para leer en la cuarentena</h2>
            
            <%- include('partials/footer', {id: "345"}) %>
        </div>

        <%- include('partials/scripts-js', {id: "678"}) %>
        
    </body>
</html>