<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

    <body>

        <%- include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %>

        <div class = "container-fluid">
            
            <div class = "row presentation">
                <h3>Libros en todos sus formatos.</h3>
                <p>¡De bibliófilos para bibliófilos!</p>

                <div class = "search-bar">
                    <form action="/search" method = "GET">
                        <input type="keywords" name = "keywords" placeholder = "Search">
                        <button type="submit" class = "btn btn-info search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div>
                    <img src="/images/headerAndfooter/neptuno.png" alt="" class = "neptuno">
                </div>
                <div>
                    <img src="/images/headerAndfooter/books.png" alt="" class = "books">
                </div>
            </div>          

        </div>

        <div class = "container">
            <h3 class = "index-titles">Isaac Asimov</h3>
            <%- include('partials/slide', {id: "slide-asimov"}) %>

            <h3 class = "index-titles">15 libros de Suspenso</h3>   
            <%- include('partials/slide', {id: "slide-suspense"}) %>        

            <h3 class = "index-titles">Introduccion a Virginia Woolf</h3>
            <%- include('partials/slide', {id: "slide-woolf"}) %>

            <h3 class = "index-titles">Para leer en la cuarentena</h3>
            <%- include('partials/slide', {id: "slide-quarantine"}) %>
        </div>


        <%- include('partials/footer') %>
        
        <%- include('partials/scripts-js') %>
        
    </body>
</html>