<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Inicio'}) %>

    <body class = "index-body">
        <div class = "container-fluid">

            <%- include('partials/header') %>

            <div class = "row presentation">
                <h2>Libros en todos sus formatos.</h2>
                <p>¡De bibliófilos para bibliófilos!</p>

                <div class = "search-bar">
                    <form action="/search" method = "GET">
                        <input type="keywords" name = "keywords" placeholder = "Search">
                        <button type="submit" class = "btn btn-info search-button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div>
                    <img src="images/headerAndfooter/neptuno.png" alt="" class = "neptuno">
                </div>
                <div>
                    <img src="images/headerAndfooter/books.png" alt="" class = "books">
                </div>
            </div>          

        </div>

        <div class = "container">
            <h2>Isaac Asimov</h2>
            <%- include('partials/slide') %>

            <h2>15 libros de Suspenso</h2>           

            <h2>Introduccion a Virginia Woolf</h2>

            <h2>Para leer en la cuarentena</h2>
        </div>

        <div class = "container-fluid">
            <%- include('partials/footer') %>

        </div>


            
            

            
            
            
        

        <%- include('partials/scripts-js') %>
        
    </body>
</html>