<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Iniciar sesión'}) %>
<body>
    <%- include ('partials/header', {bgColor: "bg-light", navbarColor: "navbar-light"})  %> 
    <div class = "container">
  <div class="formdiv">
  <form class="login" action='/login' method="POST">
    <h1 class="btn title">INICIA SESION</h1>
    <div class="form-group"> 
      <input type="text" class="form-control" name='user' id="exampleInputUser1" aria-describedby="emailHelp" placeholder="Nombre de usuario">
    <p></p>
    </div>
    <div class="form-group" >
      <input type="password" class="form-control" name='password' id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    <button type="submit" class="btn btn-danger iniciar">INICIAR SESION</button>
    <p></p>
    <a class="crear" href="/users/register">CREAR UNA CUENTA</a>
  </form> 
</div>
  <%- include ('partials/slide', {id: "slide-login"})  %>
</div>
  <%- include ('partials/footer')  %>
  <%- include('partials/scripts-js')  %> 
    
</body>
</html>