<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Iniciar sesión'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %>

  <div class = "container">

    <div class="formdiv">

      <form class="login" action='/users/login' method="POST">

        <h1 class="title">INICIÁ SESIÓN</h1>
        
        <input type="email" class="form-control" name='email' placeholder="Email" value = "<% typeof old == "undefined" ? null : old.email %> ">
        
        <p class='error'>
          <% typeof errors == 'undefined' ? null :  errors.email ? errors.email.msg : null %> 
        </p>

        <input type="password" class="form-control" name='password' placeholder="Contraseña">

        <p class='error'>
          <% typeof errors == 'undefined' ? null :  errors.password ? errors.password.msg : null %> 
        </p>        

        <div class = "recordarme">
          <label for="">Recordame</label>
          <input class = "boton-recordame" type="checkbox" name = "recordame">
        </div>        

        <button type="submit" class="btn btn-info iniciar">INICIAR SESIÓN</button>
                
        <a class="crear-cuenta" href="/users/register">Crea una cuenta</a>

      </form>

    </div>

    <h3>Libros de J. K. Rowling</h3>
    <%- include ('partials/slide', {id: "slide-login", products: jkRowling})  %>

  </div>
  <%- include ('partials/footer')%>
  <%- include('partials/scripts-js')%>     
</body>
</html>