<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Iniciar sesión'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %>

<div>

    <form action="/users/perfil/<%=user.id%>" method="POST">
        <label for="">
            Usuario
         </label>
         <input type="name" name= "username" value="<%=user.username%>">

         <small class='error'>
            <% if (typeof errors != 'undefined') { %>
              <% if (errors.username) { %>
                <%= errors.username.msg %>
              <% } %>
           <% }%>
          </small>

         <label for="">
            Mail
         </label>
         <input type="email" name= "email" value="<%=user.email%>">

         <small class="error">
            <% if (typeof errors != 'undefined') { %>
              <% if (errors.email) { %>
                <%= errors.email.msg %> 
              <% } %>
           <% }%>
          </small>

         <!-- <label for="">
            Contraseña actual
         </label> 
         <input type="password" name= "oldPassword" value="">

         <label for="">
            Nueva contraseña
         </label>
         <input type="password" name= "newPassword" value=""> -->
                 

         <button type="submit">Enviar</button>
    </form>  

    <img src="/images/users/<%=user.image %> " alt="">
    
</div>

<%- include ('partials/footer')%>
<%- include('partials/scripts-js')%> 
</body>
</html>