<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Iniciar sesión'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %>

<div>
    <label for="">
       Usuario
    </label>
    <input type="text" name= "usuario" value="<%=resultado.username%>">
    <form action="/users/perfil/<%=resultado.id%>" method="POST">
        <button type = "submit">Editar</button>
    </form>
</div>
<div>
    <label for="">
        Mail
     </label>
     <input type="text" name= "mail" value="<%=resultado.email%>">
     <form action="/users/perfil/<%=resultado.id%>" method="POST">
         <button type = "submit">Editar</button>
     </form>
</div>
<div>
    <label for="">
        Contraseña
     </label>
     <input type="password" name= "password" value="<%=resultado.password%>">
     <form action="/users/perfil/<%=resultado.id%>" method="POST">
         <button type = "submit">Editar</button>
     </form>
</div>
<div>
    <label for="">
        Foto de perfil
     </label>
     <img src="/images/users/<%=resultado.image%>" alt="">
     <form action="/users/perfil/<%=resultado.image%>" method="POST" enctype="multipart/form-data">
        <input type="file" name = "image" value = ""> 
     </form>
</div>
<%- include ('partials/footer')%>
<%- include('partials/scripts-js')%> 
</body>
</html>