<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Literatura'}) %>
<body>
    <!--header-->
    <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %> 

    <div class = "container">
        <%- include('partials/banner-title', {title: "Literatura", route: "Inicio / Categorías / Literatura", decoImg: "/images/banner-title/img-reading.png", bannerImg: '/images/banner-title/banner-title-1.png'}) %> 
    <!--Categorias-->
        <div class = "cuerpo">     
            <nav class = "menu-categorias">
                <div class= "navegacion">
                        <div class = "navegacion-1">
                            <ul>
                                <li><a href="">Literatura</a></li>
                                <li><a href="">Divulgación&nbsp;científica</a></li>
                                <li><a href="">Historia</a></li>
                            </ul>
                        </div>
                        <div class = "navegacion-2">
                            <ul>
                                <li><a href="">Informática&nbsp;/&nbsp;Tecnología</a></li>
                                <li><a href="">Ciencias&nbsp;de&nbsp;la&nbsp;Salud&nbsp;y&nbsp;Naturales</a></li>
                                <li><a href="">Religión</a></li>
                            </ul>
                        </div>
                        <div class = "navegacion-3">
                            <ul>
                                <li><a href="">Turismo</a></li>
                                <li><a href="">Idiomas</a></li>
                                <li><a href="">Autoayuda</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </nav>

            <h2>Novedades</h2>

            <section class="section-productos-novedades row">
            <% novedades.forEach(libro => { %>
                <article class= "producto-novedades col-12 col-sm-12 col-md-6 row">
                    <span class= "caja-imagen col-12 col-sm-12 col-md-6">
                        <a href="/products/detail/<%= libro.id %>">
                            <img src= "<%= libro.imagen %> "alt="" class="imagen-libro">
                        </a>
                    </span>
                    <span class = "descripcion-producto col-12 col-sm-12 col-md-6">
                        <a href="/products/detail/<%= libro.id %>">
                            <h3 class="nombre-libro"><%= libro.titulo %> </h3>
                        </a>
                        <p>por <%= libro.autor %> </p>
                        <p><%= libro.descripcion %> </p>
                    </span>
                </article>                 
            <% }) %>
            </section>

            <h2 class ="descuentos">Descuentos</h2>    
             
            
            <section class= "productos-descuento row">
                <% descuentos.forEach(libro => { %>
                <article class = "producto-descuento col-12 col-sm-12 col-md-4">
                    <a href="/products/detail/<%= libro.id  %>  ">
                        <img src="<%= libro.imagen %>" alt="">
                    </a>                    
                    <div class = "descripcion-producto2">
                        <a href="/products/detail/<%= libro.id  %>">
                            <h3><%= libro.titulo %> </h3>
                        </a>
                        <p>por <%= libro.autor %> </p>
                        <div class="precios">
                            <h3 class= "precio-descuento">$<%= libro.precio %> </h3>
                            <h3 class= "precio-final">$<%= libro.precio %> </h3>
                        </div>
                        <form action="/users/cart/<%= libro.id %>" method="POST">
                            <button class="btn btn-info boton-mini"><i class="fas fa-cart-plus"></i></button>
                        </form>
                    </div>
                </article>
                <% }) %>                
            </section>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

        <section class = "productos-categoria row">

            <% literatura.forEach(libro => { %>
                <article class = "book col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2">
                    <a href="/products/detail/<%= libro.id %>">
                        <img src="<%= libro.imagen %> " alt="">
                        <p><%= libro.titulo %> </p>
                    </a>                    
                    <p>por <%= libro.autor %> </p>
                    <a href="/users/cart" class = "cart-link">
                        <button class="btn btn-info boton-mini"><i class="fas fa-cart-plus"></i></button>
                    </a>                    
                </article>             
            <% }) %>
            

            <!--acá va un coso para pasar de página que no se cómo mierda se hace-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>         
    </div>
    
    <%- include ('partials/footer') %> 
    <%- include('partials/scripts-js') %> 

</body>
</html>