<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Iniciar sesión'}) %>
<body>

  <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %>

   <div class="container">

      <form action="/users/profile/<%=user.id%>" method="POST">

         <!-- <img src="" alt=""> -->
         
         <div>
            <label for="">
               Usuario
            </label>
            <input type="name" name= "username" value="<%= typeof old == "undefined" ? user.username : old.username %>">

            <small class='error'>
               <% if (typeof errors != 'undefined') { %>
               <% if (errors.username) { %>
                  <%= errors.username.msg %>
               <% } %>
            <% }%>
            </small>

         </div>

         <div>
            <label for="">
               Mail
            </label>
            <input type="email" name= "email" value="<%= typeof old == "undefined" ? user.email : old.email %>">

            <small class="error">
               <% if (typeof errors != 'undefined') { %>
               <% if (errors.email) { %>
                  <%= errors.email.msg %> 
               <% } %>
            <% }%>
            </small>

         </div>

         <a href="/users/profile/password/<%= user.id %>">Cambiar contrasenia</a>

         <button type="submit">Enviar</button>
      </form> 

             
      
   </div>

   <%- include ('partials/footer')%>
   <%- include('partials/scripts-js')%> 
</body>
</html>