<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Registrarse'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"})  %> 

  <div class = "container">
    
    <div class="formdiv">

      <form class="register" action='/users/register' method="POST" enctype="multipart/form-data">

        <h1 class="title">REGISTRATE</h1>
        
        <input type="name" class="form-control" name='name' placeholder="Nombre de usuario">          
        
        <small class='error'>
          <% if (typeof errors != 'undefined') { %>
            <% if (errors.user) { %>
              <%= errors.user.msg %> 
            <% } %>
         <% }%>
        </small>

        <input type="email" class="form-control" name='email' placeholder="Email">

        <small class="error">
          <% if (typeof errors != 'undefined') { %>
            <% if (errors.email) { %>
              <%= errors.email.msg %> 
            <% } %>
         <% }%>
        </small>

        <label for="">Avatar</label>
        <input type="file" name = "image">

        <input type="password" class="form-control" name='password' placeholder="Contraseña">

        <input type="password" class = "form-control" name = "retype" placeholder="Repita su contraseña">
        
        <small class="error">
          <% if (typeof errors != 'undefined') { %>
            <% if (errors.password) { %>
              <%= errors.password.msg %> 
            <% } %>
         <% }%>
        </small>
        
        <button type="submit" class="btn btn-info registrar">REGISTRARSE</button>
        
        <a class="tengo-cuenta" href="/users/login">Ya tengo una cuenta</a>

      </form> 
    </div>

    <h3>De la saga de Harry Potter</h3>
    <%- include ('partials/slide', {id: "slide-register", products: harryPotter})  %>
  </div>

  <%- include ('partials/footer')%>
  <%- include('partials/scripts-js')%> 
</body>
</html>
