<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Registrarse'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-light", navbarColor: "navbar-light"})  %> 
  <div class = "container">
    <div class="formdiv row">
      <form class="register col-12" action='/register' method="POST">
        <h1 class="btn title">REGISTRATE</h1>
        
        <input type="name" class="form-control" name='name' placeholder="Nombre de usuario">          
        
        <input type="email" class="form-control" name='email' placeholder="Email">

        <input type="password" class="form-control" name='password' placeholder="Contraseña">      
        
        <button type="submit" class="btn btn-info enviar">REGISTRARSE</button>
        
        <a class="cuenta" href="/users/login">Ya tengo una cuenta</a>
      </form> 
    </div>

    <h3>De la saga de Harry Potter</h3>
    <%- include ('partials/slide', {id: "slide-register", products: harryPotter})  %>
  </div>

  <%- include ('partials/footer')%>
  <%- include('partials/scripts-js')%> 
</body>
</html>
