<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Registrarse'}) %>
<body>
  <%- include ('partials/header', {bgColor: "bg-light", navbarColor: "navbar-light"})  %> 
  <div class = "container">
  <div class="formdiv">
  <form class="register" action='/users/register' method="POST">
    <h1 class="btn title">REGISTRATE</h1>
    <div class="form-group"> 
      <input type="text" class="form-control" name='user' id="exampleInputUser1" aria-describedby="emailHelp" placeholder="Nombre de usuario" value=<%= typeof old == 'undefined' ? '' : old.user %> >
    <small class='error'>
      <% if (typeof errors != 'undefined') { %>
        <% if (errors.user) { %>
          <%= errors.user.msg %> 
        <% } %>
     <% }%>
    </small>
    </div>
    <div class="form-group"> 
      <input type="text" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" value=<%= typeof old == 'undefined' ? '' : old.email %>>
    <small class="error">
      <% if (typeof errors != 'undefined') { %>
        <% if (errors.email) { %>
          <%= errors.email.msg %> 
        <% } %>
     <% }%>
        </small>
    </div>
    <div class="form-group" >
      <input type="password" class="form-control" name='password' id="exampleInputPassword1" placeholder="Contraseña" value=<%= typeof old == 'undefined' ? '' : old.password %>>
      <small class="error">
        <% if (typeof errors != 'undefined') { %>
          <% if (errors.password) { %>
            <%= errors.password.msg %> 
          <% } %>
       <% }%>
      </small>
    </div>
    <button type="submit" class="btn btn-danger enviar">REGISTRARSE</button>
    <p></p>
    <a class="cuenta" href="/users/login">Ya tengo una cuenta</a>
  </form> 
</div>

  <h3>De la saga de Harry Potter</h3>
  <%- include ('partials/slide', {id: "slide-register", products: harryPotter})  %>
</div>

  <%- include ('partials/footer')  %>
  <%- include('partials/scripts-js')  %> 
</body>
</html>
