<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Búsqueda: ' + keywords}) %>
<body>

    <%- include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %>

    <div class = "container">

        <h2>Resultados de la busqueda: <%= keywords %></h2>
        
        <section class = "row products">
            <% products.forEach(product => { %>
                <article class = "col-3 product">
                    <a href="/products/detail/<%= product.id %>">
                        <img src="/images/products/<%= product.image %> " alt="">
                        <p><%= product.title %> </p>
                        <p>por <%= product.author.name + " " + product.author.lastName %> </p>
                        <span><%= product.price %> </span>                  
                    </a>                    
                </article>         
            <% }) %>
            <% authorsProducts.forEach(authorProduct => { %>
                <% authorProduct.forEach(product => { %>
                    <article class = "col-3 product">
                        <a href="/products/<%= product.id %>">
                            <img src="/images/products/<%= product.image %> " alt="">
                            <p><%= product.title %> </p>
                            <!-- <p>por <%#= product.author.name + " " + product.author.lastName %> </p> -->
                            <span><%= product.price %> </span>                  
                        </a>                    
                    </article>  
                <% }) %>
            <% }) %>
        </section>

    </div>         
        
    <%- include('partials/footer') %>
    
    <%- include('partials/scripts-js')  %> 
    
</body>
</html>