<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Búsqueda: ' + keywords}) %>
<body>

    <%- include('partials/header', {bgColor: "bg-dark", navbarColor: "navbar-dark"}) %>

    <div class = "container">

        <h2>Resultados de la busqueda: <%= keywords %></h2>
        
        <section class = "row products">
            <% products.forEach(product => { %>
                <article class = "col-3 product">
                    <a href="/products/<%= product.id %>">
                        <img src="<%= product.imagen %> " alt="">
                        <p><%= product.titulo %> </p>
                        <p>por <%= product.autor %> </p>
                        <span><%= product.precio %> </span>                  
                    </a>                    
                </article>         
            <% }) %>
        </section>

    </div>         
        
    <%- include('partials/footer') %>
    
    <%- include('partials/scripts-js')  %> 
    
</body>
</html>